@media ( min-width : 1000px) {
 ul#nav li {
  width: 195px;
 }
}

@media ( min-width : 790px) and (max-width: 999px) {
 ul#nav li {
  width: 152px;
 }
 ul#nav li:last-child, ul#nav li.lastMenuItem {
  padding-right: 0px !important;
 }
}

@media ( min-width : 790px) {
 #pull {
  display: none;
 }
 ul#nav {
  display: block !important;
 }
 ul#nav {
  border-bottom: 1px solid #D0D0D0;
 }
 html {
  overflow-y: scroll;
 }
}

@media ( max-width : 789px) {
 ul#nav {
  display: none;
 }
 ul#nav li {
  display: block !important;
  border-bottom: 1px solid #C8C8C8;
 }
 .selected {
  background-color: #E8F3F7;
 }
}

@media ( min-width : 481px) {
 ul#nav li {
  padding-top: 0px\9;
 }
 :root ul#nav li {
  padding-top: 0px \0/IE9 !important;
 }
}

@media ( max-width : 480px) {
 ul#nav li {
  padding: 0 !important;
  border-right: none !important;
  border-bottom: none;
  border-top: none;
  text-align: center;
 }
 ul#nav li:first-child {
  border-top: 1px solid #C8C8C8;
  border-left: none !important;
 }
 ul#nav li i {
  margin-left: 15px;
 }
 ul#nav li:last-child span, ul#nav li.lastMenuItem span {
  vertical-align: sub;
  vertical-align: top\9;
 }
}

@media ( min-width : 481px) and (max-width: 789px) {
 ul#nav li {
  display: inline-block !important;
  border-bottom: 1px solid #C8C8C8;
  border-left: none !important;
  border-right: none !important;
 }
 ul#nav li {
  width: 33%;
 }
 ul#nav li:nth-child(4), ul#nav li:first-child {
  box-shadow: inset -1px 0 0 #C8C8C8;
 }
 ul#nav li:nth-child(2), ul#nav li:nth-child(5) {
  width: 34%;
  box-shadow: inset -1px 0 0 #C8C8C8;
 }
 ul#nav li:nth-child(4), ul#nav li:nth-child(5), ul#nav li:last-child, ul#nav li.lastMenuItem {
  border-top: 0px;
 }
 ul#nav li:last-child, ul#nav li.lastMenuItem {
  padding-right: 0px !important;
 }
 #pull {
  margin-top: 1px;
 }
}

#nav a span {
 line-height: 33px;
}